include paperead/server/static/netlify/*.toml
include paperead/server/wwwroot/*.html
include paperead/server/wwwroot/*.json
include paperead/server/wwwroot/*.ico
include paperead/server/wwwroot/assets/*.js
include paperead/server/wwwroot/assets/*.css